#root {
  max-width: 1280px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 2px;
}

button:hover {
  cursor: pointer;
}

/* 
button {
  background: none;
  border: none;
} */

.infoRow {
  display: flex;
}

.box {
  border: 2px solid rgb(174, 174, 174);
  border-radius: 2px;
  padding: 5px;
  font-weight: bold;
  margin: 1px 1px;
  height: 15px;
  width: 15px;
  text-align: center;
}

.correct {
  background-color: green;
}

.needed {
  background-color: rgb(230, 167, 42);
}

.wrong {
  background-color: rgb(174, 174, 174);
}


