#root {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(81, 158, 209);
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 2px;
}

button:hover {
  cursor: pointer;
}


.infoRow {
  display: flex;
  justify-content: center;
}

.closeBtn {
  width: 29px;
  height: 19px;
  margin-left: auto;
}

.infoBox {
  border: 2px solid rgb(174, 174, 174);
  border-radius: 2px;
  padding: 5px;
  font-weight: bold;
  font-size: 150%;
  margin: 0 2px;
  height: 35px;
  width: 35px;
  text-align: center;
}

.correct {
  background-color: green;
  border: 2px solid green;
}

.needed {
  background-color: rgb(230, 167, 42);
  border: 2px solid rgb(230, 167, 42);
}

.wrong {
  background-color: rgb(174, 174, 174);
}

body > div:nth-child(5) > div, body > div:nth-child(6) > div {
  background-color: rgba(0, 0, 0, 0.577) !important;
}


.row {
  display: flex;
  justify-content: center;
}

.box {
  border: 2px solid rgb(128, 128, 128);
  border-radius: 2px;
  padding: 5px;
  font-weight: bold;
  font-size: 205%;
  margin: 3px 3px;
  height: 45px;
  width: 45px;
  text-align: center;
}

.boardRow {
  display: flex;
  justify-content: center;
}

.key {
  color: white;
  background-color: grey;
  margin: 3px;
  width: 40px;
  height: 50px;
  border-radius: 4px;
  font-size: 150%;
}

.key:hover {
  cursor: pointer;
}

.key p {
  margin-top: 7px;
  font-weight: bold;
}

.util {
  width: 65px;
  font-size: 100%;
}

.util p {
  margin-top: 14px;
}


